
body{
   background-color: #555555;
}


.flex-container {

   display: flex;
   background-color: #8F8E83;
   margin: 10px;
   flex-direction: row;
   
}

.logo,
.social {
   flex-grow: 1; 
   transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), background-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navegation {
   flex-grow: 2; 
}

.logo:hover{
   background:#7f15f9cb;
   transform: scale(1.1)
}

.flex-container div {
   height: 50px;
   background-color: #e2d1fa;
   text-align: center;
   line-height: 50px;
   margin: 10px; 
}



.banner-flex{
   margin: 10px;
   display: flex;
   background-color:#af85ffcb;
   color: black;

}
.banner-flex div{
   background-color: #fff494;
   margin: 10px 10px;
   width: 100%;
   font-weight: bold;
   padding: 10px;
   }

.center{
   display: flex;
   
   }
   
.container-articles{
   background-color: #d1b8ff80;
   margin: 10px;
   display: flex;
   flex-direction: column;
   flex-grow: 5;
   
}

.articles{
   display: flex;
   justify-content: space-between
   
}
.nav{
   background-color: #fff494;

   margin: 15px;
   
}

.item{

   background-color: #fff494;
   margin: 15px;
   padding: 10px;
   width: 50%;
   text-align: left;
}



.publicidad{
   background-color: #d1b8ff80;
   margin: 10px;
   flex-direction: column;
   flex-grow: 2;
}
.publicidad div{
   background-color: #fff494;
   margin: 15px;
   padding: 15px;
   text-align: center;
}
.foot{
   display: flex;
   background-color: #8F8E83;
   margin: 10px;
   padding: 20px;
} 

@media (max-width: 800px) {
   body{
      background-color: #1f0f4f;
   }
   .flex-container {
      flex-direction: column;
   }
   .center{
      display: flex;
      flex-direction: column;
      
      }
   .container-articles{
      background-color: #8F8E83;
      margin: 10px;
      display: flex;
      flex-direction: column;

   
      
   }
   .publicidad{
      background-color: #8F8E83;
      margin: 10px;
      flex-direction: column;
      
   } 

}

@media (max-width: 350px){
   body{
      background-color: #1f00d0;
   }

   .articles{
      display: flex;
      flex-direction: column;
      width: 100%;

      
   }

   .item{

      background-color: #4767D1;
      margin: 15px;
      text-align: center;
      width: auto
   }


}
