@mixin fontStyle{
   color: #470b0bc0;
   font-family: Arial, Helvetica, sans-serif;
   display: inline-block;
   color: black;

}

$color-main: #317880c0;

body{
   background-color: $color-main;
   
}
p{
   @include fontStyle();
}

h1{
   color: #470b0bc0;
   
}

.caja{
   h1{
      color: #5821c6c0;
      @include fontStyle()

   }

   p{
      font-family: Arial, Helvetica, sans-serif;

   }
}
ul{
   display: inline-block;
   color: black;
   li{
      color: black;
      display: inline-block;
   }

}
