
$primary: #5265E1;
$footercolor: #242946;
$danger: #FA5959;
$grey: #98999b;


$rectangle-width: 500px; 
$rectangle-height: 250px;
$border-radius-left: 100px;
$offset-right: 320px; 
$offset-down: 20px; 
$red: #FA5959;

body{
   font-family:"Poppins", sans-serif;;
   p{
      color: $grey;
      
      }

   }



.btn.btn-primary{
      &:hover{
         color: $primary;
   border-color: $primary;
   background-color: white;
   box-shadow:0 5px 10px rgba(0, 0, 0, 0.5);;
      }   
   }

   .nav-link.active {
      position: relative;
      &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 3px; 
      background-color: $danger;
      }
   }
   
.container.nav{

   .nav-item{
      .nav-link.active{
         color: black;

      }
   .nav-link{
      
   color: $grey;
   &:hover{
      color: $danger;
   }
}}
   }

.btn.btn-danger{
   color: white;
   background-color: $danger;
   text-align: center;
   &:hover{
      color: $danger;
      border-color: $danger;
      background-color: white;
      box-shadow:0 5px 10px rgba(0, 0, 0, 0.5);

   }
}

header{
   .nav-link{
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 2px;
      
      &:hover{
         color: $danger;
         
      }

   }}


   
   .container.top {
      
   
.row {
   margin: 0;
   padding: 0; 
   
      .img-container {
         position: relative;
         display: flex;
         justify-content: center; 
         padding: 0;
         margin: 0; 
   
         .imgHero {
            display: block;
            margin: 0 auto;
            max-width: 100%;
         }
   
         .rectangle {
            position: absolute;
            right: 0;
            bottom: -20px; 
            max-width: 100%;
            margin: 0; 
            padding: 0; 
            width: $rectangle-width;
            height: $rectangle-height;
            background-color: $primary;
            border-top-left-radius: $border-radius-left;
            border-bottom-left-radius: $border-radius-left;
            z-index: -1;
         }
      }
      }  }



.img-2{
   position: relative;
   z-index: 1;

   
}
.rectangle-2 {

   width: $rectangle-width;
   height: $rectangle-height;
   background-color: $primary;
   border-top-right-radius: $border-radius-left;
   border-bottom-right-radius: $border-radius-left;
   position: absolute;
   z-index: 0;
   left: 0;
   bottom: -60px; 
   max-width: 100%;
   
   

}

.browser-info{
   padding: 30px;
   border-radius: 10px;
}

.navbar{
   .navbar-toggler{
      border: none;
   }
}

.accordion-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid $grey; 
   padding: 10px;
   cursor: pointer; 

   .text {
   flex: 1;
   }

   .arrow {
   flex: 0; 


   }

   .arrow-img {
   width: 16px; 
   height: auto;
   }
}

.accordion-content {
   padding: 10px;

   .accordion-subheader {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 10px;

   .text {
      flex: 1;
   }

   .arrow {
      flex: 0;
   }
   }
}








.footer {
   
   background-color:$primary;
   color: white;
   font-family: "Poppins", sans-serif ;

   .input-wrapper {
      width: 300px; 
   }
   .text-1{
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 4px;
   }
   .text-2{
      font-family: "Poppins", sans-serif;
      font-size: 50px;
      font-weight: 400;
      font-style: normal;
   }

}

.footer-2{
   background-color: $footercolor;


.footer-text {
      color: white;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 2px;

      &:hover{
         color: $danger;
         cursor: pointer;
         
      }

      }
   }




.input-wrapper::after {
   content: "";
   background-color: $danger;
}




@media(max-width: 992px){
   .container.top{
      .text{
         margin-top: 20px;
         text-align: center;
         flex: auto;
      }
   }


   .container.top-2{
      
      width: 100%;
      
      .rectangle-2{
         margin-top: 300px;
      }
      .text-2{
         justify-content: center;
         text-align: center;
         padding-top: 100px;


      }
   }

   .navigator-head{
      
      .nav-item1{
         width: 100%;
         justify-content: center;
         
      }
      .nav-item2{
         width: 100%;
         justify-content: center;
         
      }
      .nav-item3{
         width: 100%;
         justify-content: center;
         
      }

   }




.browsers{
   .col-3{
      
      justify-content: center;
   }
   .img-fluid{
      
      align-items: center;
      justify-content: center;
   }

}




   .footer .row.justify-content-center.col-lg-auto {
   text-align: center;
   width: 100%;
   }

   .footer{
      .btn.btn-danger {
         display: block;
         
         max-width: 150px;
         margin: 0 auto;
         margin-top: 10px;
         
   }



.footer-2{
   
      .footer-text{
         flex: auto;
         justify-content: center;
      }
      .logos{
      
         flex: content;
         justify-content: center;
      }
      
}

.footer-2 .icons-container {
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-2 .icons-container img {
   margin: 0 10px; 
}


}

}


@media (max-width: 768px) {
   .container.top{
width: 100%;

padding: 0;
justify-content: center;
   
   .row {
   margin: 0; 
   
   .imgHero{
      margin: 20px;
      
      
   }

   .img-container {
      justify-content: center;
      margin: 0; 

      

      .rectangle {
         right: 0; 
         bottom: 0; 
         margin: 0; 
         max-width: 80%;
         
      }
   }
   }
}

.container.top-2{
      
   width: 100%;
   .img-2{
      margin: auto;
      width: 80%;

   }
   .rectangle-2{
      width: 80%;
      margin-top: 300px;
      margin-left: auto;


   }
   .text-2{
      justify-content: center;
      text-align: center;
      padding-top: 100px;


   }
}


}

@media (max-width: 418px){

.container.top{
   .rectangle{
      max-height: 70%;
   }
}
   
   .container.top-2{
      
      width: 100%;
      .img-2{
         margin: auto;
         width: 90%;
   
      }
      .rectangle-2{
         max-width: 70%;
         max-height: 80%;
         margin-top: 200px;
         margin-left: auto;
   
   
      }
}
.container-fluid.footer{
   .text-2{
      font-size: 30px;
   }

}
}
@media (max-width: 314px){
   .text{
      h2{
         font-size: 20px;
      }
      
      .buttons{
         .btn.btn-primary{
            margin-top: 10px;
            
         }
      }
   }

   .navigator-head.container{
      .row{
         h3{
            font-size: 20px;
         }

      }
      
   }

.container.top-2{
   margin-top: 0px;
}

.container-fluid.footer{
   .text-2{
      font-size: 30px;
   }
}
}

@import "./node_modules/bootstrap/scss/bootstrap.scss";
